/* Allgemeine Formatierung */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: var(--bs-font-sans-serif);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Navigationsleiste */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 13px;
  text-align: left;
  height: 35px;
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  line-height: 35px;
  font-size: 15pt;
}

nav a:hover {
  color: grey;
}

/* Slider */
.BilderSlides {
  position: relative;
  top: 60px;
  width: 100vw;
  height: auto;
}

.BilderSlides img {
  width: 100%;
  height: auto;
  display: block;
}

/* Inhalt */
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f4f4f4;
  width: calc(100% - 40px);
  box-sizing: border-box;
  margin-top: 40px;
  margin-right: 0px;
}

.text-block {
  width: 30%;
  padding: 20px;
  text-align: left; /* Linksbündiger Text */
  box-sizing: border-box;
}

.text-block h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.text-block p {
  font-size: 16px;
  line-height: 1.5;
}

/* Ticket-Sektion */
.Tickets {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.event-slider {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.events {
  display: flex;
  width: 100%;
}

.event {
  flex: 0 0 33.3333%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #47474785;
  color: white; /* Weiße Schriftfarbe */
}

.image-container {
  position: relative;
  max-width: 100%;
  max-height: calc(33.3333vw);
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #47474785;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.text {
  text-align: left;
}

.button {
  text-align: right;
}

.overlay h2,
.overlay p,
.overlay .buy-tickets-button {
  color: white;
  margin: 5px 0;
}

.buy-tickets-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buy-tickets-button:hover {
  background-color: grey;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Kontakt-Sektion */
.contact-section {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.contact-info {
  flex: 1;
  max-width: 300px;
}

.contact-info p {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.contact-info p i {
  margin-right: 10px;
}

.contact-form {
  flex: 2;
  max-width: 600px;
}

.contact-form h2 {
  margin-bottom: 10px;
}

.contact-form p {
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

/* Teammitglieder */
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  width: calc(25% - 20px);
  padding: 10px;
  text-align: center;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
